<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>about</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/aboutus.css')}}">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-primary navbar-dark ">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Welcome!</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/signin">Signin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/aboutus">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="image-section">
      <div class="hero">
        <div class="person person1">
        <h4>Abinaya</h4>
          <a href="https://github.com/abivalli08"><i class="fa-brands fa-github"></i>Github</a>
        </div>
        <div class="person person2">
        <h4>Bharathiramana</h4>
          <a href="https://github.com/16April2002"><i class="fa-brands fa-github"></i>Github</a>
        </div>
        <div class="person person1">
        <h4>Oohmshree</h4>
          <a href="https://github.com/oohm19"><i class="fa-brands fa-github"></i>Github</a>
        </div>
        <div class="person person1">
        <h4>Ramkumar</h4>
          <a href="https://github.com/ram@2001"><i class="fa-brands fa-github"></i>Github</a>
        </div>
        <div class="person person1">
         <h4>Tamilvendan</h4>
          <a href="http://github.com/tamilkalai02"><i class="fa-brands fa-github"></i>Github</a>
        </div>

      </div>
    </div>
  </div>
</body>

</html>